@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
 
 
 body {
  font-family: 'Open Sans', sans-serif;
   margin: 0;
   color: #202124;
   font-size: 15px;
   -webkit-font-smoothing: antialiased;
   line-height: 1.3;
 }

 a {
   color: #202124;
   text-decoration: none;
   font-weight: 600;
   transition: .5s;
 }



 /* a:focus {
  background-color: #faf28d;
  padding: 0 10px;
  font-weight: 700;
  color: #323338;
}

a:hover img {
  background-color: white;
  padding: 0 0px;
} */ 

 .Hero {
   background: url('../images/wallpaper6.jpg');
   height: 600px;
   background-size: cover;
   background-position: center;
 }

 .HeroGroup {
   margin: 0 auto;
   max-width: 500px;
   padding: 150px 50px;
   text-align: center;
 }

 .Hero h1 {
   margin: 0;
   color: white;
   font-size: 50px;
   line-height: 1.6;
   opacity: 0;
   animation: HeroAnimation;
   animation-duration: 3s;
   animation-delay: 0.1s;
   animation-fill-mode: forwards;
   animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
 }

 .Hero p {
   color: rgba(255, 255, 255, 0.8);
   font-size: 25px;
   line-height: 1.5;
   padding-bottom: 20px;
   padding-top: 10px;
   animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
   opacity:0;
 }

 .Hero a {
   font-size: 15px;
   font-weight: 600;
   color: whitesmoke;
   letter-spacing: .5px;
   background: rgba(0, 0, 0, 0.50);
   padding: 9px 20px;
   border: 1px solid rgba(255, 255, 255, 0.50);
   border-radius: 10px;
   text-decoration: none;
 }

 footer {
   font-size: 12px;
   padding: 10px;
 }

 .Title {
   font-size: 20px;
   text-align: center;
   padding: 20px 0px 50px 0px;
 }

 .Title p {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
 }

 .MeetGroup {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* grid-gap: 10px;
  margin: 50px 0; */
  align-items: center;
  justify-items: center;
 }

 .MeetGroup p {
   font-size: 15px;
 }

 .MeetGroup p a:hover {
  background-color: #ffed00;
  padding: 0 10px;
  font-weight: 700;
} 

.ContactUs a:hover {
  background-color: #ffed00;
  padding: 0 10px;
  font-weight: 700;
}

  /* .MeetGroup img a:hover {
  size: 200px;
  box-shadow: 0 10px 20px rgba(0,0,0,.25);
  transform: translateY(-3px) rotateX(10deg);
 } */

 .NameBlock img {
   width: 155px;
 }

 /* .NameBlock img a:hover {
  width: 160px;
} */

 h2 {
   font-size: 18px;
 }

 h3 {
   font-size: 15px;
 }

 .OurProcess {
   background-color: #efefef;
   height: 600px;
 }

 .Underline {
   border-bottom: 3px solid #FFED00;
 }

 .ContactUs {
   line-height: 40px;
 }

 .ContactUs span {
  text-align: center;
  line-height: 20px;
  border-bottom: 3px solid #FFED00;
  width: auto;
 }

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}



 @media (max-width: 640px) {
    .HeroGroup {
      padding: 100px 20px;
    }

    .Hero h1 {
        font-size: 40px;
    }
    .Hero p {
      font-size: 20px;
    }
    .Hero {
      max-height: 450px;
    }
 }

 @media (max-width: 800px) {
  .MeetGroup {
    grid-template-columns: repeat(2, auto);
    line-height: 1.0;
  }

  .NameBlock {
    padding: 20px;
  }
}